@import "../base/colors.css";

/*-----------------------------------------------*/
.main {
  display: grid;
  gap: 4rem;
  min-height: calc(100dvh - 80px);
  padding-block: 3rem;
}
.main_films {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
  grid-template-rows: repeat(2, 360px);
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
