@import "../base/colors.css";

.form {
  display: grid;
  justify-items: center;
  gap: 3rem;
  padding: 1.5rem;
  border-radius: 8px;
}
.container_form {
  display: grid;
  grid-template-columns: 500px 370px;
  grid-template-rows: repeat(2, 70px);
  align-items: end;
  justify-content: center;
  gap: 2rem;
}
.seeker_header {
  text-align: center;
}
.seeker_title {
  font-size: 1.9rem;
  padding-bottom: 12px;
}
.form_label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
  font-size: 0.95rem;
}

.form_input {
  height: 40px;
  width: 100%;
  font-size: 0.9rem;
  color: var(--deep-black);
  padding-left: 12px;
  background-color: var(--soft-white);
  border-radius: 5px;
  border: 1px solid var(--soft-ivory);
  outline: none;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}
.form_title {
  grid-column: 1/2;
  grid-row: 1/2;
}
.form_director {
  grid-column: 1/2;
  grid-row: 2/3;
}
.form_input:focus {
  border-color: var(--deep-black);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.form_containerSelects {
  display: flex;
  gap: 1.5rem;
}

.form_selectGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.form_titleSelect {
  font-weight: 600;
  font-size: 0.95rem;
}

/* Estilos de los Selects */
.form_select {
  height: 40px;
  width: 100%;
  font-size: 0.9rem;
  color: var(--deep-black);
  background-color: var(--soft-white);
  border-radius: 5px;
  border: 1px solid var(--soft-ivory);
  outline: none;
  cursor: pointer;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.form_select:focus {
  border-color: var(--deep-black);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

/* Botones de acción */
.form_buttons {
  display: flex;
  gap: 1rem;
  height: 45px;
}

.form_btn {
  flex: 1;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--soft-white);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
  border: 1px solid var(--soft-ivory);
}

.form_btn--submit {
  background-color: var(--deep-black);
}

.form_btn--reset {
  background-color: transparent;
}

.form_btn:hover {
  opacity: 0.85;
}
