:root {
  --deep-blue: #2d4059; /* Fondo */
  --night-blue: #1d2d44; /* Header */
  --soft-ivory: #f9f5eb; /* Texto */
  --ocean-blue: #3e5c76; /* Color 4 */
  --vivid-red: #ea5455; /* Color 5 */
  --navy-blue: #002b5b; /* Color 6 */
  --sky-blue: #8aa9c4; /* Color 7 */
  --black: #0a0a0a;
}
