.filmCard {
  width: 100%;
  height: 100%;
  position: relative;
  transition: cursor 0.3s ease-in-out;
  border-radius: 7px;
  border: 1px solid var(--soft-ivory-alpha);
}
.filmCard:hover {
  cursor: pointer;
}

.filmCard__picture {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
}
.filmCard__img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
.filmCard__picture:hover > .filmCard__img {
  transform: scale(1.2);
}
.filmCard__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--soft-white);
  background-color: var(--deep-black-alpha);
}
.filmCard:hover > .filmCard__footer {
  text-decoration: underline;
}
.filmCard_text {
  transition: all 0.3s ease-in-out;
}
.filmCard__name {
  font-weight: 600;
}
.filmCard__year {
  color: var(--ocean-red);
}
